@font-face {
  font-family: 'shrikhand';
  src: url("polices/shrikland/shrikhand-regular-webfont.eot");
  src: url("polices/shrikland/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("polices/shrikland/shrikhand-regular-webfont.woff2") format("woff2"), url("polices/shrikland/shrikhand-regular-webfont.woff") format("woff"), url("polices/shrikland/shrikhand-regular-webfont.ttf") format("truetype"), url("polices/shrikland/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
}

@font-face {
  font-family: 'roboto';
  src: url("polices/roboto/Roboto-Regular-webfont.eot");
  src: url("polices/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("polices/roboto/Roboto-Regular-webfont.woff") format("woff"), url("polices/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("polices/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
}

body {
  margin: 0px;
  color: #000;
  font-size: 3.5vw;
  font-family: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
}

body > * {
  width: 100%;
  margin: auto;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 4.8vw;
  font-weight: bold;
}

h3 {
  font-size: 4.0vw;
  font-weight: bold;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*.button_like{
    i{
        position: absolute;
        top:0;
        left:0;}

        &.fas{
            color: $color_primary;
            opacity: 0;
            transform: scale(0);
            transition: all 1500ms;
        }

        &.far:hover + &.fas{
            opacity: 1;
            transform: scale(1.2);
        }

        /*&:active, &:hover{
            opacity: 1;
            transform: scale(1.2);
        }*/
.header {
  position: relative;
  height: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 1.6vw gray;
          box-shadow: 0px 0px 1.6vw gray;
}

.header__title {
  display: none;
}

.header__logo {
  width: 43.5vw;
  margin: auto;
}

.header__link {
  display: block;
  position: absolute;
  left: 6.5vw;
  top: 5vw;
  font-size: 4.6vw;
  font-weight: bold;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__link--hidden {
  display: none;
}

.header__link:hover, .header__link:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 6vw;
}

.footer__title {
  font-family: 'shrikhand', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.footer__listing {
  list-style: none;
  padding: 0;
  line-height: 6.5vw;
}

.footer__listing i {
  display: inline-block;
  width: 5vw;
  margin-right: 0.5vw;
}

.footer__listing a {
  color: #fff;
}

.introduction {
  text-align: center;
  background-color: #f6f6f6;
  font-size: 5vw;
}

.introduction__location {
  background-color: #eaeaea;
  line-height: 13vw;
  margin: 0 0 8vw 0;
}

.introduction__location i {
  margin-right: 4vw;
}

.introduction h2 {
  margin: auto 17vw;
  font-size: 6vw;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 15vw 0;
}

.restaurant > * {
  width: 90vw;
  margin: auto;
}

.restaurant__title {
  padding-bottom: 2vw;
}

.restaurant_card {
  display: block;
  height: 67vw;
  margin-top: 5vw;
  padding: 0.2vw;
  border-radius: 3.5vw;
  background-color: #FFF;
  position: relative;
}

.restaurant_card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  overflow: hidden;
  height: 46vw;
  min-width: 100%;
  margin: auto;
  border-radius: 3.3vw 3.3vw 0 0;
}

.restaurant_card h3, .restaurant_card p {
  margin: 2vw;
}

.restaurant_card__new {
  position: absolute;
  top: 4vw;
  right: 3vw;
  width: 21vw;
  line-height: 8vw;
  text-align: center;
  border-radius: 1vw;
  background-color: #99E2D0;
  color: #1b6150;
}

.restaurant_card__new--hidden {
  display: none;
}

.restaurant_card__like {
  font-size: 6vw;
  position: absolute;
  bottom: 9vw;
  right: 7vw;
}
