@font-face {
  font-family: 'shrikhand';
  src: url("polices/shrikland/shrikhand-regular-webfont.eot");
  src: url("polices/shrikland/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("polices/shrikland/shrikhand-regular-webfont.woff2") format("woff2"), url("polices/shrikland/shrikhand-regular-webfont.woff") format("woff"), url("polices/shrikland/shrikhand-regular-webfont.ttf") format("truetype"), url("polices/shrikland/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
}

@font-face {
  font-family: 'roboto';
  src: url("polices/roboto/Roboto-Regular-webfont.eot");
  src: url("polices/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("polices/roboto/Roboto-Regular-webfont.woff") format("woff"), url("polices/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("polices/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
    opacity: 0;
  }
  5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  15%, 88% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
    opacity: 0;
  }
  5% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  15%, 88% {
    opacity: 1;
  }
  95% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
    opacity: 0;
  }
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  margin: 0px;
  color: #000;
  font-size: 3.5vw;
  font-family: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
}

body > * {
  width: 100%;
  margin: auto;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 4.8vw;
  font-weight: bold;
}

h3 {
  font-size: 4.0vw;
  font-weight: bold;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button_main {
  display: block;
  line-height: 13.4vw;
  border-radius: 6.7vw;
  width: 50vw;
  margin: auto;
  background: linear-gradient(170deg, #FF79DA, 10%, #9356DC);
  color: #fff;
  font-size: 3.5vw;
  font-weight: bold;
  -webkit-box-shadow: 0px 1vw 1.6vw #b3b3b3;
          box-shadow: 0px 1vw 1.6vw #b3b3b3;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.button_main:hover {
  background: linear-gradient(170deg, #ff93e1, 10%, #a16be0);
  -webkit-box-shadow: 0px 1vw 1vw gray;
          box-shadow: 0px 1vw 1vw gray;
}

/*.button_like{
    i{
        position: absolute;
        top:0;
        left:0;}

        &.fas{
            color: $color_primary;
            opacity: 0;
            transform: scale(0);
            transition: all 1500ms;
        }

        &.far:hover + &.fas{
            opacity: 1;
            transform: scale(1.2);
        }

        /*&:active, &:hover{
            opacity: 1;
            transform: scale(1.2);
        }*/
.loading_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: loading 3s 400ms both;
          animation: loading 3s 400ms both;
}

.loading_box__spinner {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  position: absolute;
  top: 50vh;
  left: 30vw;
  -webkit-transform-origin: 20vw center;
          transform-origin: 20vw center;
}

.loading_box__spinner--primary {
  background-color: #9356DC;
  z-index: 10;
  -webkit-animation: spinner 900ms 600ms infinite linear;
          animation: spinner 900ms 600ms infinite linear;
}

.loading_box__spinner--primarylight {
  background-color: #ae80e5;
  z-index: 9;
  -webkit-animation: spinner 900ms 750ms infinite linear;
          animation: spinner 900ms 750ms infinite linear;
}

.loading_box__spinner--secondary {
  background-color: #FF79DA;
  z-index: 8;
  -webkit-animation: spinner 900ms 900ms infinite linear;
          animation: spinner 900ms 900ms infinite linear;
}

.loading_box__spinner--secondarylight {
  background-color: #fface8;
  z-index: 7;
  -webkit-animation: spinner 900ms 1050ms infinite linear;
          animation: spinner 900ms 1050ms infinite linear;
}

.loading_box__spinner--tertiary {
  background-color: #99E2D0;
  z-index: 6;
  -webkit-animation: spinner 900ms 1200ms infinite linear;
          animation: spinner 900ms 1200ms infinite linear;
}

.loading_box__spinner--tertiarylight {
  background-color: #c1ede2;
  z-index: 5;
  -webkit-animation: spinner 900ms 1350ms infinite linear;
          animation: spinner 900ms 1350ms infinite linear;
}

.header {
  position: relative;
  height: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 1.6vw gray;
          box-shadow: 0px 0px 1.6vw gray;
}

.header__title {
  display: none;
}

.header__logo {
  width: 43.5vw;
  margin: auto;
}

.header__link {
  display: block;
  position: absolute;
  left: 6.5vw;
  top: 5vw;
  font-size: 4.6vw;
  font-weight: bold;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__link--hidden {
  display: none;
}

.header__link:hover, .header__link:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 6vw;
}

.footer__title {
  font-family: 'shrikhand', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.footer__listing {
  list-style: none;
  padding: 0;
  line-height: 6.5vw;
}

.footer__listing i {
  display: inline-block;
  width: 5vw;
  margin-right: 0.5vw;
}

.footer__listing a {
  color: #fff;
}

.footer__listing a:hover {
  text-decoration: underline;
}

.introduction {
  text-align: center;
  background-color: #f6f6f6;
  font-size: 5vw;
  padding-bottom: 15vw;
}

.introduction__location {
  background-color: #eaeaea;
  line-height: 13vw;
  margin: 0 0 8vw 0;
}

.introduction__location i {
  margin-right: 4vw;
}

.introduction h2 {
  margin: auto 17vw;
  font-size: 6vw;
}

.functioning, .restaurant {
  padding: 15vw 0;
}

.functioning > *, .restaurant > * {
  width: 90vw;
  margin: auto;
}

.functioning__title, .restaurant__title {
  padding-bottom: 2vw;
}

.functioning__listing {
  list-style: none;
  padding-left: 3vw;
  counter-reset: perso;
}

.functioning__listing li {
  counter-increment: perso;
  background-color: #f6f6f6;
  width: 86vw;
  line-height: 20vw;
  margin-top: 7vw;
  border-radius: 5vw;
  font-weight: bold;
  -webkit-box-shadow: 0px 1vw 1.6vw #b3b3b3;
          box-shadow: 0px 1vw 1.6vw #b3b3b3;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.functioning__listing li::before {
  content: counter(perso);
  display: inline-block;
  text-align: center;
  width: 6vw;
  line-height: 6vw;
  margin: auto 6vw auto -3vw;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
}

.functioning__listing li:last-child {
  background-color: #f4eefc;
}

.functioning__listing li:last-child i {
  color: #9356DC;
}

.functioning__listing li i {
  color: gray;
  font-size: 4.5vw;
  width: 6vw;
  margin-right: 7vw;
  text-align: center;
}

.restaurant {
  background-color: #f6f6f6;
}

.restaurant_card {
  display: block;
  height: 67vw;
  margin-top: 5vw;
  padding: 0.2vw;
  border-radius: 3.5vw;
  background-color: #FFF;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0px 1vw 1.6vw #b3b3b3;
          box-shadow: 0px 1vw 1.6vw #b3b3b3;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.restaurant_card:hover {
  -webkit-box-shadow: 0px 1vw 1vw gray;
          box-shadow: 0px 1vw 1vw gray;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.restaurant_card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 62%;
     object-position: 50% 62%;
  overflow: hidden;
  height: 46vw;
  min-width: 100%;
  margin: auto;
  border-radius: 3.3vw 3.3vw 0 0;
}

.restaurant_card h3, .restaurant_card p {
  margin: 2vw;
}

.restaurant_card__new {
  position: absolute;
  top: 4vw;
  right: 3vw;
  width: 21vw;
  line-height: 8vw;
  text-align: center;
  border-radius: 1vw;
  background-color: #99E2D0;
  color: #1b6150;
}

.restaurant_card__new--hidden {
  display: none;
}

.restaurant_card__like {
  font-size: 6vw;
  position: absolute;
  bottom: 9vw;
  right: 7vw;
}
