@font-face {
  font-family: 'shrikhand';
  src: url("polices/shrikland/shrikhand-regular-webfont.eot");
  src: url("polices/shrikland/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("polices/shrikland/shrikhand-regular-webfont.woff2") format("woff2"), url("polices/shrikland/shrikhand-regular-webfont.woff") format("woff"), url("polices/shrikland/shrikhand-regular-webfont.ttf") format("truetype"), url("polices/shrikland/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
}

@font-face {
  font-family: 'roboto';
  src: url("polices/roboto/Roboto-Regular-webfont.eot");
  src: url("polices/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("polices/roboto/Roboto-Regular-webfont.woff") format("woff"), url("polices/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("polices/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
}

body {
  margin: 0px;
  color: #000;
  font-size: 3.5vw;
  font-family: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
}

body > * {
  width: 100%;
  margin: auto;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 4.6vw;
  font-weight: bold;
}

h3 {
  font-size: 4.0vw;
  font-weight: bold;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header {
  height: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 1.6vw #000;
          box-shadow: 0px 0px 1.6vw #000;
}

.header__title {
  display: none;
}

.header__logo {
  width: 43.5vw;
  margin: auto;
}

.header__link {
  display: block;
  position: absolute;
  left: 6.5vw;
  top: 5vw;
  font-size: 4.6vw;
  font-weight: bold;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__link--hidden {
  display: none;
}

.header__link:hover, .header__link:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 6vw;
  margin-top: 17vw;
}

.footer__title {
  font-family: 'shrikhand', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.footer__listing {
  list-style: none;
  padding: 0;
  line-height: 6.5vw;
}

.footer__listing i {
  display: inline-block;
  width: 5vw;
  margin-right: 0.5vw;
}

.footer__listing a {
  color: #fff;
}
