.button_main{
    display: block;
    line-height: 13.4vw;
    border-radius: 6.7vw;
    width: 50vw;
    margin:auto;
    background: linear-gradient(170deg,$color_secondary, 10%, $color_primary);
    color: $text_light;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    @include shadow_effect;

    &:hover{
        background: linear-gradient(170deg, lighten($color_secondary, 5%), 10%, lighten($color_primary, 5%));
        @include shadow_effect_hover;
    }

    &:focus{
        outline: none;
        border:solid 3px $color_tertiary;
        box-sizing: content-box;
    }

    &:active{
        animation: effect_active 400ms both;
    }

    @include desktop{
        line-height: 60px;
        border-radius: 30px;
        width: 220px;
        font-size: 1rem;
    }
}

.button_like__heart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.2vw;

    &--on{
        background: linear-gradient( $color_primary , 75%, $color_secondary);
        //background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 400ms ease-in-out;
        transform: scale(0);
    }

    &--off{
        z-index:1;
        transition: all 400ms ease-in-out;

        &:hover{
            opacity:0;
        }
    }

    &--off:hover + &--on{
        animation: liking 400ms both;
    }
}

.button_menu{
    display: flex;
    overflow: hidden;
    text-align: left;    

    &__text{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4vw 0 4vw 3vw;
        overflow: hidden;

        @include desktop{
            padding: 10px;
        }

        >*{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin:0;
        }
    }

    &__title{
        font-size: 4.0vw;
        font-weight: bold;

        @include desktop{
            font-size: 1.2rem;
        }
    }

    &__price{
        width: 14.5vw;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 4vw;
        padding-left: 1.5vw;

        @include desktop{
            width: 4.5vw;
            max-width: 90px;
            padding-bottom: 15px;
            padding-left: 10px;
        }
    }

    &__check{
        background-color: $color_tertiary;
        color: $text_light;
        width: 16vw;
        line-height: 18.5vw;
        margin-right: -16vw;
        font-size: 6vw;   
        transition: all 500ms ease-in-out;
        text-align: center;

        @include desktop{
            width: 5vw;
            line-height: 80px;
            margin-right: -5vw;
            font-size: 2rem; 
        }

        i{
            transition: all 500ms ease-in-out;
        }

    }

    &:hover &__check{
        margin-right: 0vw;

        i{
            transform: rotate(1turn);
        }  
    }

    @include listing(200ms);
}