.button_main{
    display: block;
    line-height: 13.4vw;
    border-radius: 6.7vw;
    width: 50vw;
    margin:auto;
    background: linear-gradient(170deg,$color_secondary, 10%, $color_primary);
    color: $text_light;
    font-size: 3.5vw;
    font-weight: bold;
    @include shadow_effect;

    &:hover{
        background: linear-gradient(170deg, lighten($color_secondary, 5%), 10%, lighten($color_primary, 5%));
        @include shadow_effect_hover;
    }
}

.button_like__heart{
    position: absolute;
    bottom: 0;
    right: 0;

    &--on{
        background: linear-gradient( $color_primary , 75%, $color_secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 400ms ease-in-out;
        transform: scale(0);
    }

    &--off{
        z-index:1;
        transition: all 400ms ease-in-out;

        &:hover{
            opacity:0;
        }
    }

    &--off:hover + &--on{
        animation: liking 400ms both;
    }
}