@keyframes loading{
    0%, 5%{
        opacity: 0;
    }

    15%, 88%{
        opacity: 1;
    }

    95%, 100%{
        opacity: 0;
        transform: translateX(0);
    }
    
    100% {
            transform: translateX(-9999px);
      display: none;
    }
}

@keyframes spinner{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes liking{
    0%{
        transform: scale(0);
    }
    
    90% {
        transform: scale(1.2);
        animation-timing-function: cubic-bezier(.96,.04,.99,.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes listing_appear{
    0%{
        opacity: 0;
        transform: translateY(2vw);
    }

    10%{
        opacity: 0.2;
        transform: translateY(2vw);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes effect_active{
    0%{
        transform: scale(1);
    }
    
    90% {
        transform: scale(1.05);
        animation-timing-function: cubic-bezier(.96,.04,.99,.95);
    }

    100% {
        transform: scale(1);
    }
}