@font-face {
    font-family: 'shrikhand';
    src: url('polices/shrikland/shrikhand-regular-webfont.eot');
    src: url('polices/shrikland/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/shrikland/shrikhand-regular-webfont.woff2') format('woff2'),
         url('polices/shrikland/shrikhand-regular-webfont.woff') format('woff'),
         url('polices/shrikland/shrikhand-regular-webfont.ttf') format('truetype'),
         url('polices/shrikland/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');    
}

@font-face {
    font-family: 'roboto';
    src: url('polices/roboto/Roboto-Regular-webfont.eot');
    src: url('polices/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('polices/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('polices/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}