.introduction{
    text-align: center;
    background-color: $grey_light;
    font-size: 5vw;
    padding-bottom: 15vw;

    &__location{
        background-color: $grey_mid;
        line-height: 13vw;
        margin: 0 0 8vw 0;
        
        i{
            margin-right: 4vw;
        }
    }
    
    h2{
        margin: auto 17vw;
        font-size: 6vw;
    }
    
    @include desktop{
        font-size: 2rem;
        padding-bottom: 20px;

        &__location{
            line-height: 100px;
            margin-bottom: 20px;
            
            i{
                margin-right: auto;
            }
        }
        
        h2{
            margin: auto;
            font-size: 2rem;
        }
    }
}

.functioning, .restaurant{
    padding: 15vw 0;
    
    >*{
        width: 90vw;
        max-width: 1900px;
        margin: auto;
    }

    &__title{
        padding-bottom: 2vw;
    }

    @include desktop{
        padding: 30px 5% 60px 5%;
    }
}

.functioning__listing{
    list-style: none;
    padding-left: 3vw;
    counter-reset: perso;
    
    li{
        counter-increment: perso;
        background-color: $grey_light;
        width: 86vw;
        line-height: 20vw;
        margin-top: 7vw;
        border-radius: 5vw;
        font-weight: bold;
        @include shadow_effect;
    
        &::before {
            content: counter(perso);
            display: inline-block;
            text-align: center;
            width: 6vw;
            line-height: 6vw;
            margin: auto 6vw auto -3vw;
            color: $text_light;
            background-color: $color_primary;
            border-radius: 50%;
        }

        &:last-child{
            background-color: lighten($color_primary, 36%);

            i{
                color: $color_primary;
            }
        }

        i{
            color: $grey_darker;
            font-size: 4.5vw;
            width: 6vw;
            margin-right: 7vw;
            text-align: center;
        }
    }

    @include desktop{
        display: flex;
        justify-content: space-between;

        li{
            width: 30%;
            max-width: 500px;
            line-height: 50px;
            margin-top: 20px;
            border-radius: 15px;
                    
            &::before {
                width: 2rem;
                line-height: 2rem;
                margin: auto 10px auto -1rem;
            }
    
            i{
                font-size: 1.5rem;
                width: 1.5rem;
                margin-right: 10px;
            }
        }
    }
}

.restaurant{
    background-color: $grey_light;

    @include desktop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.restaurant_card{
    display: block;
    height: 67vw;
    margin-top: 5vw;
    padding: 0.2vw;
    border-radius: 3.5vw;
    background-color: $color_back_light;
    position: relative;
    transform: scale(1);
    @include shadow_effect;

    &:hover{
        @include shadow_effect_hover;
        transform: scale(1.01);
    }

    &:focus{
        outline: none;
        border:solid 3px $color_tertiary;
    }

    &:active{
        animation: effect_active 400ms both;
    }

    img{
        object-fit: cover;
        object-position: 50% 62%;
        overflow: hidden;
        height: 46vw;
        min-width: 100%;
        margin: auto;
        border-radius: 3.3vw 3.3vw 0 0;
    }

    h3, p{
        margin: 2vw;
    }

    &__new{
        position: absolute;
        top: 4vw;
        right: 3vw;
        width: 21vw;
        line-height: 8vw;
        text-align: center;
        border-radius: 1vw;
        background-color: $color_tertiary;
        color: darken($color_tertiary, 50%);

        &--hidden{
            display: none;
        }
    }

    &__like{
        font-size: 6vw;
        position: absolute;
        bottom: 9vw;
        right: 7vw;
    }

    @include desktop{
        width: 21.5vw;
        max-width: 450px;
        height: 16.7vw;
        max-height: 335px;
        margin: 0;
        padding: 2px;
        border-radius: 20px;

        img{
            height: 11.5vw;
            max-height: 230px;
            min-width: 100%;
            border-radius: 18px 18px 0 0;
        }
    
        h3, p{
            margin: 0 0 0 10px;
        }
    
        &__new{
            top: 10px;
            right: 10px;
            width: 5.2vw;
            max-width: 105px;
            line-height: 30px;
            border-radius: 5px;
        }
    
        &__like{
            font-size: 2rem;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }

    @include tablet{
        width: 43vw;
        max-width: 550px;
        height: 33.4vw;
        max-height: 427px;
        margin-bottom: 20px;

        img{
            height: 23vw;
            max-height: 300px;
        }
    
        &__new{
            top: 20px;
            right: 20px;
            width: 7vw;
        }
    }
}