.introduction{
    text-align: center;
    background-color: $grey_light;
    font-size: 5vw;
    padding-bottom: 15vw;

    &__location{
        background-color: $grey_mid;
        line-height: 13vw;
        margin: 0 0 8vw 0;
        
        i{
            margin-right: 4vw;
        }
    }
    
    h2{
        margin: auto 17vw;
        font-size: 6vw;
    }  
}

.functioning, .restaurant{
    padding: 15vw 0;

    >*{
        width: 90vw;
        margin: auto;
    }

    &__title{
        padding-bottom: 2vw;
    }
}

.functioning__listing{
    list-style: none;
    padding-left: 3vw;
    
    li{
        counter-increment: perso;
        background-color: $grey_light;
        width: 86vw;
        line-height: 20vw;
        margin-top: 7vw;
        border-radius: 5vw;
        font-weight: bold;
        @include shadow_effect;
    
        &::before {
            content: counter(perso);
            display: inline-block;
            text-align: center;
            width: 6vw;
            line-height: 6vw;
            margin: auto 6vw auto -3vw;
            color: $text_light;
            background-color: $color_primary;
            border-radius: 50%;
        }

        &:hover{
            @include shadow_effect_hover;
        }

        i{
            color: $grey_darker;
            font-size: 4.5vw;
            width: 6vw;
            margin-right: 7vw;
            text-align: center;
        }
    }
}

.restaurant{
    background-color: $grey_light;
}

.restaurant_card{
    display: block;
    height: 67vw;
    margin-top: 5vw;
    padding: 0.2vw;
    border-radius: 3.5vw;
    background-color: $color_back_light;
    position: relative;
    @include shadow_effect;

    &:hover{
        @include shadow_effect_hover;
    }

    img{
        object-fit: cover;
        object-position: 50% 62%;
        overflow: hidden;
        height: 46vw;
        min-width: 100%;
        margin: auto;
        border-radius: 3.3vw 3.3vw 0 0;
    }

    h3, p{
        margin: 2vw;
    }

    &__new{
        position: absolute;
        top: 4vw;
        right: 3vw;
        width: 21vw;
        line-height: 8vw;
        text-align: center;
        border-radius: 1vw;
        background-color: $color_tertiary;
        color: darken($color_tertiary, 50%);

        &--hidden{
            display: none;
        }
    }

    &__like{
        font-size: 6vw;
        position: absolute;
        bottom: 9vw;
        right: 7vw;
    }
}