@mixin shadow_effect{
    box-shadow: 0px 1vw 1.6vw $grey_dark;
    transition: all 400ms ease-in-out;
}

@mixin shadow_effect_hover{
    box-shadow: 0px 1vw 1vw $grey_darker;
}

@mixin loading_spinner($spinner, $spinner_duration: 900ms, $circle_delai: 150ms){
    $i : 10;
    $delai: 600ms;
    @each $key, $value in $spinner{

        &--#{$key}{
            background-color: $value;
            z-index: $i;
            animation: spinner $spinner_duration $delai 4 linear;
        }
        $i: $i - 1;
        $delai: $delai + $circle_delai;
    }   
}

@mixin listing($delta){
    $delai : 400ms;
    @for $i from 1 through 10 {
        &--#{$i}{
            animation: listing_appear 400ms $delai ease-in-out both;
            $delai: $delai + $delta;
        }
    }                
}