//Définition des couleurs du projet
$color_primary : #9356DC;
$color_secondary : #FF79DA;
$color_tertiary: #99E2D0;
$color_back_light: #FFF;
$color_back_dark: #353535;

$text_dark: #000;
$text_light: #fff;

$grey_light: darken($color_back_light, 3.5%);
$grey_mid: darken($color_back_light, 8.4%);
$grey_dark: darken($color_back_light, 30%);
$grey_darker: darken($color_back_light, 50%);

$spinner: (
    primary: $color_primary,
    primarylight: lighten($color_primary, 10%),
    secondary: $color_secondary,
    secondarylight: lighten($color_secondary, 10%),
    tertiary: $color_tertiary,
    tertiarylight: lighten($color_tertiary, 10%)
);