header{
    width: 100%;
    margin: auto;
    height: 17vw;
    display: flex;
    box-shadow: 0px 0px 1.6vw #000;
}

.header__title{
    display: none;
}

.header__logo
{
    width: 43.5vw;
    margin: auto;
}