.header{
    height: 17vw;
    display: flex;
    box-shadow: 0px 0px 1.6vw #000;

    &__title{
        display: none;
    }

    &__logo
    {
        width: 43.5vw;
        margin: auto;
    }

    &__link{
        display: block;
        position: absolute;
        left: 6.5vw;
        top: 5vw;
        font-size: 4.6vw;
        font-weight: bold;
        transition: 400ms;
        transform: scale(1);

        &--hidden{
            display: none;
        }

        &:hover, &:active{
            transform: scale(1.2);
        }
    }
}